<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <mian>
        <div>
            <h1>Create a new list</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </mian> 
</body>
</html>